.title {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    
}

.button__title {
    font-weight: bold;
    text-transform: capitalize;
}

.button {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    
}

.statistics {
    display: grid;
    
}